*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // for desktop-first, larger mediaqueries on the top, so overwriting will put right values

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }
}

body {
  box-sizing: border-box;
}

input {
  color: inherit;
  font-family: inherit;
}