*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.icon {
  display: block; }

.line {
  font-size: 7rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 4rem;
  animation-name: running-line;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .line__overflow {
    overflow-x: hidden; }

@keyframes running-line {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-2640px); } }
